<div class="swiper-slide">
  <div class="trailer">
    <iframe src="https://www.youtube.com/embed/<%= movie.trailer_url %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="text-start mt-3">
    <div class="h2">
      <%= movie.title %>
    </div>
    <div class="d-flex">
      <div class="me-4">
        <%= movie.release_date.to_s.slice(0, 4) + '年公開' %>
      </div>
      <div class="me-4">
        <%= movie.runtime + '分' %>
      </div>
      <div class="me-4 me-auto">
        <%= movie.genres[0]['name'] %>
        <%= movie.genres[1]['name'] %>
        <%= movie.genres[2]['name'] %>
      </div>
      <button type="button" data-bs-toggle="collapse" data-bs-target="#movie_detail" aria-expanded="false" aria-controls="movie_detail" class="movie_detail text-white">
        あらすじを見る<i class="fa fa-chevron-down"></i>
      </button>
    </div>
    <div class="collapse mt-3" id="movie_detail">
      <div class="card card-body text-start">
        <%= movie.overview %>
      </div>
    </div>
  </div>
  <hr>
</div>