<% content_for(:title, t('.title')) %>
<%= render 'profile_top' %>
<div class="d-flex text-center fs-1 mt-3">
  <div class="col-4 border bg-warning">
    <%= link_to user_path(@user) do %>
      <i class="fas fa-plus-circle text-white"></i>
    <% end %>
  </div>
  <div class="col-4 border">
    <%= link_to user_watched_path(@user) do %>
      <i class="fas fa-check-circle text-white"></i>
    <% end %>
  </div>
  <div class="col-4 border">
    <%= link_to user_uninterested_path(@user) do %>
      <i class="fas fa-minus-circle text-white"></i>
    <% end %>
  </div>
</div>
<%= render partial: 'watch_movie', collection: @watch_movies %>
<div class="mb-5 pb-5"></div>