<% content_for(:title, t('.title')) %>
<%= render 'profile_top' %>
<div class="d-flex text-center fs-1 mt-3">
  <%= link_to user_path(@user), class: 'col-4 border' do %>
    <i class="fas fa-plus-circle text-white"></i>
    <span class="fs-5 text-white align-middle">観たい</span>
  <% end %>
  <%= link_to user_watched_path(@user), class: 'col-4 border' do %>
    <i class="fas fa-check-circle text-white"></i>
    <span class="fs-5 text-white align-middle">観た</span>
  <% end %>
  <%= link_to user_uninterested_path(@user), class: 'col-4 border bg-warning' do %>
    <i class="fas fa-minus-circle text-white"></i>
    <span class="fs-5 text-white align-middle">興味なし</span>
  <% end %>
</div>
<%= render partial: 'uninterested_movie', collection: @uninterested_movies %>
<div class="d-none">
  <%== pagy_bootstrap_nav(@pagy) %>
</div>
<%= javascript_pack_tag "infinite-scroll" %>
