<footer id='footer' class='footer-bottom mt-3'>
  <div class="text-center">
    <%= link_to root_path do %>
      <i class="fa fa-home fa-5x mb-3 me-5" style="color: white;"></i>
    <% end %>
    <% if logged_in? %>
      <%= link_to user_path(current_user) do %>
        <i class="fas fa-user fa-5x mb-3" style="color: white;"></i>
      <% end %>
    <% end %>
  </div>
  <hr>
  <div class="d-flex align-items-center mb-3">
    <div class="d-flex align-items-center w-50 ms-3">
      <%= link_to 'https://www.themoviedb.org/', target: :_blank, rel: "noopener noreferrer" do %>
        <%= image_tag 'logo_tmdb.svg', size: '50x50', class: 'me-3' %>
      <% end %>
      このサービスはTMDB APIを使用しており、<br />
      TMDBによって承認または認定されています。
    </div>
    <div class="d-flex flex-row-reverse w-50">
      <span class="text-white-50 me-3">© シネマト</span>
      <%= link_to 'プライバシーポリシー', page_path('privacy_policy'), class: 'text-white me-3' %>
      <%= link_to '利用規約', page_path('terms'), class: 'text-white me-3' %>
      <%= link_to 'お問い合わせ', page_path('contact'), class: 'text-white me-3' %>
    </div>
  </div>
</footer>