<nav class="navbar navbar-light bg-dark">
    <%= link_to root_path, class: 'navbar-brand ms-5 text-light fs-1  me-auto customize-font' do %>
      シネマト<span class="fs-6">映画の予告を、もっと楽しむ</span>
    <% end %>
    <% if logged_in? %>
      <%= link_to user_path(current_user), class: 'd-flex me-4 text-light' do %>
        プロフィール
      <% end %>
      <%= link_to logout_path, method: :delete, class: 'd-flex me-4 text-light' do %>
        ログアウト
      <% end %>
    <% else %>
      <%= link_to login_path, class: 'd-flex me-4 text-light' do %>
        ログイン
      <% end %>
      <%= link_to new_user_path, class: 'd-flex me-5 text-light' do %>
        会員登録
      <% end%>
    <% end %>
</nav>
