<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-NXDBYNC2T0"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-NXDBYNC2T0');
    </script>
    <%= favicon_link_tag %>
    <%= favicon_link_tag('android-chrome-192x192.png', {rel: 'android-touch-icon', sizes: '192*192', type: 'image/png'}) %>
    <%= favicon_link_tag('apple-touch-icon.png', {rel: 'apple-touch-icon', sizes: '180*180', type: 'image/png'}) %>
  </head>
  <body class="bg-dark text-white">
    <%= render 'shared/header' %>
    <%= render 'shared/flash_message' %>
    <div class="container">
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
  </body>
</html>
